{% extends 'players/base_player.html' %}

{% block titleHead %}
  Cancelar reserva
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/player/cancel_reservation.js')}}" type="module"></script>
{% endblock %}

{% block content %}
  <div class="cancelar-reserva">
    <h1>Cancelar reserva</h1>
    <div id="tarjetaCancelar">
      <h2 id="club"></h2>
        
      <div class="info-reserva">
        <div class="fotoclub">
          <img id="photo" alt="Foto del club">
        </div>

        <div class="info">
          <p><strong>Fecha:</strong></p>
          <p><strong>Pista nº:</strong></p>
        </div>

        <div id="datos">
          <p id="fecha"></p>
          <p id="pista"></p>
        </div>
      </div>

      <div class="warning">
        <p>⚠️ ¿Estás seguro de que quieres cancelar esta reserva?</p>
      </div>

      <div class="botones">
        <button type="button" id="cancelarBoton">Cancelar reserva</button>
        <button type="button" id="volverBtn">Volver</button>
      </div>
    </div>
  </div>
{% endblock %}