{% extends 'players/base_player.html' %}

{% block titleHead %}
Reservar
{% endblock %}

{%block script %}
  <script src="{{url_for('static', filename='js/player/reservate.js')}}" type="module"></script>
{% endblock %}

{% block content %}
  <div id="reservar">
    <h1>Haz tu reserva</h1>
    <form id="reservarForm">

      <label for="dia">Día:</label>
      <input type="date" id="dia" name="dia" value="{{ today }}">

      <label for="hora">Hora:</label>
      <input type="time" id="hora" name="hora" step="1800">

      <label for="municipio">Municipio:</label>
      <select id="municipio" name="municipio">
        <option value="">Todos</option>
      </select>

      <label for="duracion">Duración:</label>
      <select id="duracion" name="duracion">
        <option value="60">60 minutos</option>
        <option value="90">90 minutos</option>
      </select>

      <label for="tipo">Tipo:</label>
      <select id="tipo" name="tipo">
        <option value="">Todos</option>
      </select>

      <label for="cubierta">Cubierta:</label>
      <select id="cubierta" name="cubierta">
        <option value="">Todas</option>
      </select>

      <label for="pared">Pared:</label>
      <select id="pared" name="pared">
        <option value="">Todas</option>
      </select>

      <label for="superficie">Superficie:</label>
      <select id="superficie" name="superficie">
        <option value="">Todas</option>
      </select>

      <button type="submit" id="filtrarReservas">Buscar</button>

    </form>

    <div id="clubesDisponibles"></div>
  </div>
{% endblock %}
