html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: #595959;
}

main {
  flex: 1;
  background-color: #E6F3FF;
}

#contactButton,
#reservaButton {
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#contactButton:hover,
#reservaButton:hover,
#logoutButton:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

h1 {
  margin: 0px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

#header {
  background-color: #73AFE8;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#logoImg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logoImg img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

#logoImg h5 {
  font-weight: 600;
  font-size: 20px;
}

#nav nav ul {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#nav nav ul li {
  list-style: none;
}

#nav nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  color: #595959;
  font-weight: 600;
  transition: transform 0.3s ease, color 0.3s ease;
}

#nav nav ul li a:hover {
  color: #AEEA00;
  transform: translateY(-5px);
}

#header #botones {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#header #botones button {
  margin: 0px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  height: fit-content;
  color: white;
}

#logoutButton {
  background-color: #FF6464;
}

#contactButton {
  background-color: #305BAB;
}

#inicio {
  display: flex;
  background-color: #E6F3FF;
  min-height: 400px;
}

.columna {
  flex: 1;
  text-align: center;
}

.columna h1 {
  font-size: 80px;
  margin-top: 200px;
}

.columna button {
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  background-color: #305BAB;
  color: white;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.columna img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#comoFunciona {
  background-color: #D5EBFF;
}

h2 {
  margin-bottom: 50px;
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
  margin-block-start: 0px;
}

#tarjetas {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  margin-bottom: 50px;
  border-radius: 30px;
  padding: 25px;
  width: 200px;
  height: 250px;
  box-shadow: 10px 10px 0px #1E88E5;
}

.tarjeta p {
  margin: 0px;
  font-size: 16px;
  text-align: justify;
}

.tarjeta .orden {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.tarjeta h3 {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #73AFE8;
}

footer div {
  display: flex;
  gap: 200px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}

/* LOGIN */

#login {
  padding: 50px;
}

#login #form-contenedor {
  display: flex;
  justify-content: center;
}

#login #form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

#login #form label {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#login #form input {
  background-color: #F2F2F2;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

#login #form #botones {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#botones button {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#login #botones button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

#loginButton {
  background-color: #305BAB;
}

#cancelButton {
  background-color: #FF6464;
}

#form a {
  color: #305BAB;
  text-align: center;
}

/* REGISTRO */

#registro {
  padding: 50px;
}

#registro #form-contenedor {
  display: flex;
  justify-content: center;
}

#registro #form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  gap: 25px;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

#registro .campo {
  display: flex;
  flex-direction: column;
}

#registro #form label {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#registro #form input,
#registro #form select {
  background-color: #F2F2F2;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid gray;
}

#registro #form p,
#registro #form #botones,
#registro #form a {
  grid-column: span 4;
}

#registro #form p {
  margin: 0;
}

#registro #botones {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#registro #botones button {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  width: 120px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#registro #botones button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

#loginButton {
  background-color: #305BAB;
}
#guardar {
  background-color: #5cf094;
}

#cancelButton {
  background-color: #FF6464;
}

#registro #form a {
  color: #305BAB;
  text-align: center;
}

/* CONTACTO */

#contacto {
  padding: 50px;
}

#contacto #form-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#texto-contacto, #contacto #form {
  flex: 1;               
  max-width: 400px;      
}

#contacto #form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

#contacto #form label {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#contacto #form input {
  background-color: #F2F2F2;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

#contacto #form textarea {
  background-color: #F2F2F2;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  height: 100px;
}

#contacto #form #botones {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#contacto #botones button {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#contacto #botones button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

#loginButton {
  background-color: #305BAB;
}

#cancelButton {
  background-color: #FF6464;
}

/* RESERVAR */

#reservar {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reservar #reservarForm {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
#reservar #reservarForm label{
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#reservar #reservarForm input, select {
  background-color: #F2F2F2;
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 0px;
}

#reservar #reservarForm button {
  background-color: #305BAB;
  padding: 10px;
  width: 80px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#reservar #reservarForm button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

#reservar #clubesDisponibles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#reservar .tarjetaClub{
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: 750px;
  height: fit-content;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
}

#reservar .tarjetaClub .infoClub {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}

#reservar .tarjetaClub .infoClub .fotoclub {
  width: fit-content;
}

#reservar .tarjetaClub .infoClub .fotoclub img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid black;
}

#reservar .tarjetaClub h3{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 10px;
}

#reservar .tarjetaClub .boton-reserva {
  text-align: center;
  width: fit-content;
  margin-left: auto;
}

#reservar .tarjetaClub button {
  background-color: #305BAB;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#reservar .tarjetaClub button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

/* CONFIRMAR RESERVA */

#confirmar-reserva {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#confirmar-reserva .tarjetaClub{
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: fit-content;
  height: fit-content;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
}

#confirmar-reserva .tarjetaClub .infoClub {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  gap: 10px;
}

#confirmar-reserva .tarjetaClub .infoClub .fotoclub img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 10px;
}

#confirmar-reserva .tarjetaClub h3{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 10px;
}

#confirmar-reserva .tarjetaClub .boton-reserva {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: fit-content;
  margin-left: 10px;
}

#confirmar-reserva .tarjetaClub button {
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#confirmar-reserva .tarjetaClub #confirmarBoton {
  background-color: #305BAB;
}

#confirmar-reserva .tarjetaClub #cancelarBoton {
  background-color: #FF6464;
}

#confirmar-reserva .tarjetaClub #cancelarBoton:hover, #confirmar-reserva .tarjetaClub #confirmarBoton:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

/* MIS RESERVAS */

#mis-reservas {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mis-reservas .tarjetaClub{
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: 800px;
  height: fit-content;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
}

#mis-reservas .tarjetaClub .infoClub {
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr auto;
  align-items: center;
  gap: 10px;
}

#mis-reservas .tarjetaClub .infoClub .fotoclub img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid black;
}

#mis-reservas .tarjetaClub h3{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 10px;
}

#mis-reservas .tarjetaClub .boton-reserva {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
}

#mis-reservas .tarjetaClub button {
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#mis-reservas .tarjetaClub .detallesBoton {
  background-color: #305BAB;
}

#mis-reservas .tarjetaClub .cancelarBoton, #mis-reservas .tarjetaClub .salirBoton {
  background-color: #FF6464;
}

#mis-reservas .tarjetaClub .cancelarBoton:hover, #mis-reservas .tarjetaClub .detallesBoton:hover, #mis-reservas .tarjetaClub .salirBoton:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

/* DETALLE DE LA RESERVA */

#detalles-reserva {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detalles-reserva #tarjeta-detalle{
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px 25px 9px 25px;
  width: fit-content;
  height: fit-content;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
}

#detalles-reserva #tarjeta-detalle #info-reserva {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#detalles-reserva #tarjeta-detalle #info-reserva #foto-club img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid black;
}

#detalles-reserva #tarjeta-detalle h3{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 10px;
}

#detalles-reserva #tarjeta-detalle #datos {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  align-items: center;
}

#detalles-reserva #tarjeta-detalle #botones{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#detalles-reserva #tarjeta-detalle #info-reserva #detalle-reserva {
  text-align: center;
}

#detalles-reserva #tarjeta-detalle #info-reserva #equipos {
  grid-column: span 2;
  margin-top: 15px;
}

#detalles-reserva #tarjeta-detalle #info-reserva #equipos #parejas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 15px;
  gap: 20px;
  border-radius: 12px;
}

#detalles-reserva #tarjeta-detalle #info-reserva #equipos #parejas p {
  margin: 0px;
}

#detalles-reserva #tarjeta-detalle #info-reserva #equipos #parejas .pareja {
  display: flex;
  gap: 5px;
  align-items: center;
}

#detalles-reserva #tarjeta-detalle #info-reserva #equipos #parejas .pareja .jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50px;
}

#detalles-reserva #tarjeta-detalle #info-reserva #equipos #parejas .pareja .jugador img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

#detalles-reserva #tarjeta-detalle button {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin: 0px;
}

#detalles-reserva #tarjeta-detalle #confirmarBoton {
  background-color: #5cf094;
}

#detalles-reserva #tarjeta-detalle #botonVolver {
  background-color: #305BAB;
}

#detalles-reserva #tarjeta-detalle #botonVolver:hover, #detalles-reserva #tarjeta-detalle #confirmarBoton:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

/* CANCELAR RESERVA */

#cancelar-reserva {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cancelar-reserva #tarjetaCancelar {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: 600px;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
}

#cancelar-reserva #tarjetaCancelar .info-reserva {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
}

#cancelar-reserva #tarjetaCancelar .info-reserva .info {
  display: flex;
  justify-content: center;
}

#cancelar-reserva #tarjetaCancelar .info-reserva .info p {
  margin: 0;
}

#cancelar-reserva #tarjetaCancelar .info-reserva .fotoclub img {
  width: 150px;
  height: 150px;
}

#cancelar-reserva #tarjetaCancelar h3{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 10px;
}

#cancelar-reserva #tarjetaCancelar .botones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#cancelar-reserva #tarjetaCancelar #warning {
  text-align: center;
  margin-bottom: 30px;
}

#cancelar-reserva #tarjetaCancelar button {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#cancelar-reserva #tarjetaCancelar #volverBoton {
  background-color: #305BAB;
}

#cancelar-reserva #tarjetaCancelar #cancelarBoton {
  background-color: #FF6464;
}

#cancelar-reserva #tarjetaCancelar #cancelarBoton:hover, #cancelar-reserva #tarjetaCancelar #volverBoton:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

/* UNIRSE A RESERVA */

#unirse-partido {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#unirse-partido #tarjetaConfirmacion {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: fit-content;
  height: fit-content;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
}

#unirse-partido #tarjetaConfirmacion .partido {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 30px;
}

#unirse-partido #tarjetaConfirmacion .partido #columnaUnirse {
  display: grid;
  grid-template-rows: auto auto auto;
  margin-top: 20px;
  width: 450px;
  gap: 20px;
}
#unirse-partido #tarjetaConfirmacion .partido .datos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

#unirse-partido #tarjetaConfirmacion .partido .datos p {
  margin: 0px;
}
#unirse-partido #tarjetaConfirmacion .partido .equipos {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#unirse-partido #tarjetaConfirmacion .partido .equipos .equipo p, h4 {
  text-align: center;
  margin-top: 10px;
}

#unirse-partido #tarjetaConfirmacion .partido #fotoClub {
  width: fit-content;
}
#unirse-partido #tarjetaConfirmacion .partido #fotoClub img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid black;
}

#unirse-partido #tarjetaConfirmacion h3{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 10px;
}

#unirse-partido #tarjetaConfirmacion .botones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: fit-content;
}

#unirse-partido #tarjetaConfirmacion button {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#unirse-partido #tarjetaConfirmacion #confirmarBoton {
  background-color: #305BAB;
}

#unirse-partido #tarjetaConfirmacion #cancelarBoton {
  background-color: #FF6464;
}

#unirse-partido #tarjetaConfirmacion #cancelarBoton:hover, #unirse-partido #tarjetaConfirmacion #confirmarBoton:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

.jugadores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.jugador img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.jugador p {
  margin-top: 5px;
  font-size: 14px;
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 80px;
  background: #2c2c2c;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.slot:hover {
  background: #AEEA00;
  color: black;
}

.slot.selected {
  border: 2px solid red;
}

/* MI PERFIL */

#perfil {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  box-sizing: border-box;
}

#perfil #fotoNombre {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

#perfil #fotoNombre h1 {
  margin: 0px;
}

#perfil .tarjetaPerfil{
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: 600px;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

#perfil .tarjetaPerfil .infoPerfil {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 10px;
}

#perfil #fotoNombre img {
  width: 150px;
  height: 150px;
}

#perfil .tarjetaPerfil .botonesPerfil {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

#perfil .tarjetaPerfil button {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  background-color: #305BAB;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#perfil .tarjetaPerfil button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

/* RANKING */

#ranking {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ranking #rankingForm {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 50px;
  align-items: center;
}

#ranking #rankingForm label{
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

#ranking #rankingForm select {
  background-color: #F2F2F2;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 0px;
}

#ranking #rankingForm button {
  background-color: #305BAB;
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#ranking #rankingForm button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

#ranking #rankingContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#ranking .tarjetaJugador {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: 500px;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

#ranking .tarjetaJugador .infoJugador {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#ranking .tarjetaJugador .infoJugador .fotoJugador {
  display: flex;
  flex-direction: column;
  gap:10px;
  text-align: center;
  align-items: center;
}

#ranking .tarjetaJugador .infoJugador .fotoJugador p {
  margin: 0px;
  width: 90px;
}

#ranking .tarjetaJugador .infoJugador .datosJugador {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
}

#ranking .tarjetaJugador .infoJugador .datosJugador .puntos {
  display: flex;
  margin-left: auto;
}

#ranking .tarjetaJugador .datosJugador .puntos p {
  margin: 0;
}
#ranking .tarjetaJugador h3 {
  font-size: 22px;
  margin: 0px;
}
#ranking .tarjetaJugador .infoJugador img {
  width: 50px;
  height: 50px;
}

/* SEGUIDOS Y SEGUIDORES */

#followers {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#followers #seguidosIntro {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  margin-bottom: 50px;
}

#followers #seguidosIntro h1 {
  margin: 0px;
}

#followers button {
  background-color: #305BAB;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#followers button:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

#followers #followersContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#followers .tarjetaJugador {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: 500px;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

#followers .tarjetaJugador .infoJugador {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#followers .tarjetaJugador .infoJugador .fotoJugador {
  display: flex;
  flex-direction: column;
  gap:10px;
  text-align: center;
  align-items: center;
}

#followers .tarjetaJugador .infoJugador .boton {
  display: flex;
  margin-left: auto;
}

#followers .tarjetaJugador p {
  margin: 0px;
}

#followers .tarjetaJugador h3 {
  font-size: 22px;
  margin: 0px;
}
#followers .tarjetaJugador .infoJugador img {
  width: 50px;
  height: 50px;
}

/* CONFIRMAR RESULTADO */

#confirmarResultado {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  box-sizing: border-box;
}

#confirmarResultado #tarjetaResultado {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 25px;
  width: fit-content;
  height: fit-content;
  box-shadow: 10px 10px 0px #1E88E5;
  margin-top: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

#confirmarResultado #tarjetaResultado #datosPartido {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  align-items: center;
}

#confirmarResultado #tarjetaResultado #datosPartido #equiposMarcador {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

#confirmarResultado #tarjetaResultado #datosPartido #equiposMarcador p {
margin: 0px;
}

#confirmarResultado #tarjetaResultado #datosPartido .set {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#confirmarResultado #tarjetaResultado #datosPartido #botones {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  margin-top: 21px;
  margin-left: auto;
}

#confirmarResultado #tarjetaResultado #datosPartido #botones button {
  width: 150px;
  margin: 0px;
}

#confirmarResultado #tarjetaResultado #datosPartido #botones #guardarBoton {
  background-color: #5cf094;
}

#confirmarResultado #tarjetaResultado #datosPartido #botones #cancelBoton {
  background-color: #FF6464;
}

#confirmarResultado #tarjetaResultado #datosPartido #botones #guardarBoton:hover,
#confirmarResultado #tarjetaResultado #datosPartido #botones #cancelBoton:hover {
  background-color: #AEEA00;
  color: black;
  transform: translateY(-5px);
}

#confirmarResultado #tarjetaResultado #datosPartido .set h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

#confirmarResultado #tarjetaResultado #datosPartido .set .inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 40px;
  
}

#confirmarResultado #tarjetaResultado #datosPartido .set .inputs input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
}

#confirmarResultado #tarjetaResultado #datosPartido .set .inputs input:focus {
  background-color: rgb(226, 226, 226);
  border: 1px solid black;
  padding: 5px;
}

#confirmarResultado #tarjetaResultado #equipos {
  grid-column: span 2;
  margin-top: 40px;
}

#confirmarResultado #tarjetaResultado #equipos p {
  text-align: center;
  font-size: 20px;
}
#confirmarResultado #tarjetaResultado #equipos #parejas {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#confirmarResultado #tarjetaResultado #equipos #parejas #teamA {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#confirmarResultado #tarjetaResultado #equipos #parejas #teamB {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#confirmarResultado #tarjetaResultado #equipos #parejas p {
  margin: 0px;
  font-size: 16px;
}

#confirmarResultado #tarjetaResultado #equipos #parejas .pareja {
  display: flex;
  gap: 5px;
  align-items: center;
}

#confirmarResultado #tarjetaResultado #equipos #parejas .pareja .jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50px;
}

#confirmarResultado #tarjetaResultado #equipos #parejas .pareja .jugador img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}